html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    background: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}

a {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}

a:hover {
    color: lightgrey;
}

h1, h2, h3, p, a {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.440rem;
}

h2 {
    font-size: 1.200rem;
}

h3, p, a {
    font-size: 1rem;
}

.Aplicacion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 4rem 5rem 4rem 4rem;
    column-gap: 1rem;
}

.Aplicacion > aside {
    grid-column: 1 / 2;
}

.Aplicacion > aside > h2 {
    margin-bottom: 1rem;
}

.Aplicacion > main {
    grid-column: 2 / 4;
}

.Aplicacion > main > div > h1 {
    margin-bottom: 1rem;
}

.Tarea {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: rgb(18, 18, 18);
    border-radius: 4px;
    padding: 1rem;
    gap: 0.25rem;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
}

.Tarea > button {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.Formulario {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: rgb(18, 18, 18);
    border-radius: 4px;
    padding: 1rem;
    gap: 0.25rem;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.Formulario > label {
    font-weight: bold;
    font-size: 1rem;
}

.Formulario > input {
    background: transparent;
    margin: 0;
    padding: 0;
    border: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.Formulario > input::placeholder {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 1rem;
}

.Formulario > input:focus {
    outline: none;
}

button {
    background: transparent;
    font-size: 1rem;
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

button:hover {
    color: darkgray;
}

.Formulario > select {
    margin: 0;
    padding: 0;
    background: transparent;
    font-size: 1rem;
    font-family: inherit;
    color: grey;
    border: 0;
    cursor: pointer;
    margin-left: -5px;
}

.Formulario > select:focus {
    outline: none;
}

.Formulario > select::placeholder {
    margin: 0;
    padding: 0;
}

.Tarea > select {
    margin: 0;
    padding: 0;
    background: transparent;
    font-size: 1rem;
    font-family: inherit;
    color: grey;
    border: 0;
    cursor: pointer;
    margin-left: -5px;
}

.Tarea > select:focus {
    outline: none;
}

.Tarea > select::placeholder {
    margin: 0;
    padding: 0;
}